<div class="container">
  <h2 class="page-header">Getting Started</h2>
  <br>
  <h4 class="display-5">Overview</h4>
  <hr>
  <p>
    It's easy to get up and running with this app. Take a look
    below for more information about the functionality of each of the pages.
  </p>
  <br>
  <h4 class="display-5">Using the App</h4>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Creating your account</div>
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <p class="card-text">
            Allows you to get your account created in the database. Simply fill
            out the required information (and optional stuff if you choose) to
            get started!
          </p>
          <button class="btn btn-primary" [disabled]="authService.loggedIn()" [routerLink]="['/register']">Go to Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Logging into your account</div>
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">
            After registering for your new account, head over to the login page
            to sign in and gain access to the inner workings of the app!
          </p>
          <button class="btn btn-primary" [disabled]="authService.loggedIn()" [routerLink]="['/login']">Go to Login</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Editing your profile</div>
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">
            Use this page to edit any personal information that might be subject
            to change. Here, you'll also be able to manage and tweak your
            preferences for use in the roommate search functionality.
          </p>
          <button class="btn btn-primary" [disabled]="!authService.loggedIn()" [routerLink]="['/profile']">Go to Profile</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Searching for roommates</div>
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">
            This page is the heart of the whole app. You'll be able to see all
            of the other roommates in the database, filter results to get only
            people more relevant to you, and see compatibility indicators
            derived from comparing each of your preferences.
          </p>
          <button class="btn btn-primary" [disabled]="!authService.loggedIn()" [routerLink]="['/dashboard']">Go to Dashboard</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Learning more about the app</div>
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">
            If you're curious to know more about the problem that spurred the
            creation of this app, check out this page. Or, you might not care
            and that's okay too!
          </p>
          <button class="btn btn-primary" [routerLink]="['/about']">Go to About</button>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
