<div *ngIf="user" class="container-fluid">
  <h2 class="page-header">Dashboard</h2>
  <p class="lead">Welcome to your dashboard!</p>
  <p>
    Start looking for roommates below and use the buttons and checkboxes to
    refine your results.
  </p>
  <hr>
  <label>Popular searches based on your profile:</label><br>
  <div class="button-wrapper">
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'all'" (click)="onClickGetAllRoommates()">All</button>
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'school'" [hidden]="user.school == undefined || user.school == 'No school selected...'" (click)="onClickGetSchoolmates()">People at {{user.school}}</button>
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'year'" [hidden]="user.yearInSchool == undefined" (click)="onClickGetSameYears()">{{user.yearInSchool}} Year Students</button>
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'major'" [hidden]="user.major == undefined" (click)="onClickGetSameMajors()">{{user.major}} Majors</button>
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'location'" [hidden]="user.preferenceid == undefined || preferences.firstChoiceNeighborhood == 'No neighborhood selected...'" (click)="onClickGetSameLocation()">Also Looking in {{preferences.firstChoiceNeighborhood}}</button>
    <button type="button" class="btn btn-primary" [disabled]="lastPressedButton == 'budget'" [hidden]="user.preferenceid == undefined" (click)="onClickGetSimilarBudgets()">People with Similar Budgets</button>
  </div>
  <hr>
  <label>Other filters:</label><br>
  <div class="row">
    <div class="col-2">
      <div class="form-check">
        <input type="checkbox" name="petCheck_input" class="form-check-input" [(ngModel)]="petCheck" #petCheck_input="ngModel" (change)="onClickPreferPets()">
        <label class="form-check-label">Prefers pets</label>
      </div>
    </div>
    <div class="col-4">
      <div class="form-check">
        <input type="checkbox" name="utilitiesCheck_input" class="form-check-input" [(ngModel)]="utilitiesCheck" #utilitiesCheck_input="ngModel" (change)="onClickPreferUtilities()">
        <label class="form-check-label">Wants utilities included</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngIf="petCheck">
      <br>
      <button type="button" class="btn btn-warning btn-sm" (click)="onClickClearPets()">Clear pets filter</button>
    </div>
    <div class="col-2" *ngIf="utilitiesCheck">
      <br>
      <button type="button" class="btn btn-warning btn-sm" (click)="onClickClearUtilities()">Clear utilities filter</button>
    </div>
  </div>
  <hr>
  <h4>Roommates:</h4>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">School</th>
        <th scope="col">Year in School</th>
        <th scope="col">Major</th>
        <th scope="col">Preferred Location</th>
        <th scope="col">Partying</th>
        <th scope="col">Sleep</th>
        <th scope="col">Noise</th>
        <th scope="col"># of People</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let roommate of roommates">
        <td>
          {{roommate.fullName}}
          <em *ngIf="roommate.userid == user.userid">(me)</em>
        </td>
        <td>
          <div *ngIf="roommate.school != 'No school selected...'">
            {{roommate.school}}
          </div>
        </td>
        <td>
          <div *ngIf="roommate.school != 'No school selected...'">
            {{roommate.yearInSchool}}
          </div>
        </td>
        <td>
          <div *ngIf="roommate.school != 'No school selected...'">
            {{roommate.major}}
          </div>
        </td>
        <td>
          <div *ngIf="roommate.preferenceid != undefined && roommate.firstChoiceNeighborhood != 'No neighborhood selected...'">
            {{roommate.firstChoiceNeighborhood}}
          </div>
        </td>
        <td>
          <div *ngIf="user.preferenceid == undefined || roommate.preferenceid == undefined && user.userid != roommate.userid">
            N/A
          </div>
          <div *ngIf="user.preferenceid != undefined && roommate.preferenceid != undefined && user.userid != roommate.userid">
            <div *ngIf="Math.abs(preferences.party - roommate.party) <= 1">
              <img src="../../../assets/images/green-smiley.png" alt="green_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.party - roommate.party) > 1 && Math.abs(preferences.party - roommate.party) <= 3">
              <img src="../../../assets/images/yellow-smiley.png" alt="yellow_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.party - roommate.party) > 3">
              <img src="../../../assets/images/red-smiley.png" alt="red_smiley" width="20px">
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="user.preferenceid == undefined || roommate.preferenceid == undefined && user.userid != roommate.userid">
            N/A
          </div>
          <div *ngIf="user.preferenceid != undefined && roommate.preferenceid != undefined && user.userid != roommate.userid">
            <div *ngIf="Math.abs(preferences.sleep - roommate.sleep) <= 1">
              <img src="../../../assets/images/green-smiley.png" alt="green_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.sleep - roommate.sleep) > 1 && Math.abs(preferences.sleep - roommate.sleep) <= 3">
              <img src="../../../assets/images/yellow-smiley.png" alt="yellow_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.sleep - roommate.sleep) > 3">
              <img src="../../../assets/images/red-smiley.png" alt="red_smiley" width="20px">
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="user.preferenceid == undefined || roommate.preferenceid == undefined && user.userid != roommate.userid">
            N/A
          </div>
          <div *ngIf="user.preferenceid != undefined && roommate.preferenceid != undefined && user.userid != roommate.userid">
            <div *ngIf="Math.abs(preferences.noiseLevel - roommate.noiseLevel) <= 1">
              <img src="../../../assets/images/green-smiley.png" alt="green_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.noiseLevel - roommate.noiseLevel) > 1 && Math.abs(preferences.noiseLevel - roommate.noiseLevel) <= 3">
              <img src="../../../assets/images/yellow-smiley.png" alt="yellow_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.noiseLevel - roommate.noiseLevel) > 3">
              <img src="../../../assets/images/red-smiley.png" alt="red_smiley" width="20px">
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="user.preferenceid == undefined || roommate.preferenceid == undefined && user.userid != roommate.userid">
            N/A
          </div>
          <div *ngIf="user.preferenceid != undefined && roommate.preferenceid != undefined && user.userid != roommate.userid">
            <div *ngIf="Math.abs(preferences.maxNumofRoommates - roommate.maxNumofRoommates) <= 1">
              <img src="../../../assets/images/green-smiley.png" alt="green_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.maxNumofRoommates - roommate.maxNumofRoommates) > 1 && Math.abs(preferences.maxNumofRoommates - roommate.maxNumofRoommates) <= 3">
              <img src="../../../assets/images/yellow-smiley.png" alt="yellow_smiley" width="20px">
            </div>
            <div *ngIf="Math.abs(preferences.maxNumofRoommates - roommate.maxNumofRoommates) > 3">
              <img src="../../../assets/images/red-smiley.png" alt="red_smiley" width="20px">
            </div>
          </div>
        </td>
        <td style="width:4%">
          <a *ngIf="roommate.userid != user.userid" href="mailto:{{roommate.email}}">
            <img src="../../../assets/images/email.svg" alt="email-glyphicon" width="22px">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td style="text-align:center">
          <img src="../../../assets/images/green-smiley.png" alt="green_smiley" width="20px">
          <small>= You feel very almost the same way!</small>
        </td>
        <td style="text-align:center">
          <img src="../../../assets/images/yellow-smiley.png" alt="yellow_smiley" width="20px">
          <small>= You feel sort of the same way</small>
        </td>
        <td style="text-align:center">
          <img src="../../../assets/images/red-smiley.png" alt="red_smiley" width="20px">
          <small>= You're two different people about this!</small>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
