<div class="container">
  <h2 class="page-header">About the App</h2>
  <br>
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/students1.jpg" alt="Students_1"
       style="width: 500px; border:1px solid #021a40; padding: 2px">
    </div>
    <div class="col">
      <h4 class="display-5">The Problem</h4>
      <hr>
      <p>
        Finding roommates is a common problem for not only international
        students but also domestic students. Since there are more than 250,000
        college students in Boston, it is very difficult to have an organized
        and legitimate process in place for finding future roommates. Even
        though there are a couple of free roommate finder systems on the
        internet, those are open for everyone and lack the information needed
        in terms of tracking/filtering preferences while also maintaining
        data privacy.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4 class="display-5">The Solution</h4>
      <hr>
      <p>
        The purpose of the Roommates Finder app is helping college students
        (and non-students, for that matter) in Boston who want to find
        potential roommates. This app aims to serve as a starting ground for
        helping people find roommates that they will likely be most compatible
        with by providing an easy-to-use interface that can be updated
        continuously to reflect changes in demographics or preferences.
      </p>
    </div>
    <div class="col">
      <img src="../../../assets/images/students2.jpg" alt="Students_2"
      style="width: 500px; border:1px solid #021a40; padding: 2px">
    </div>
  </div>
</div>

<div *ngIf="0">
<div class="carousel slide" data-ride="carousel" style="width: 450px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/images/brownstones.jpg"
      alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/students1.jpg"
      alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/students2.jpg"
      alt="Third slide">
    </div>
  </div>
</div>
</div>
