<div class="container">
  <h2 class="page-header">Login</h2>
  <form (submit)="onLoginSubmit()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email_input" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [ngClass]="(email_input.invalid && (email_input.dirty || email_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="email" #email_input="ngModel" placeholder="name@example.com">
      <div *ngIf="email_input.invalid && (email_input.dirty || email_input.touched)" class="invalid-feedback">
        <div *ngIf="email_input.errors.required">
          Email is required.
        </div>
        <div *ngIf="email_input.errors.pattern">
          Please enter a valid email.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password_input" [ngClass]="(password_input.invalid && (password_input.dirty || password_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="password" #password_input="ngModel">
      <div *ngIf="password_input.invalid && (password_input.dirty || password_input.touched)" class="invalid-feedback">
        <div *ngIf="password_input.errors.required">
          Password is required.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
