/* Additional CSS styling to override Bootstrap. */

body {
  font-family: 'Libre Franklin', sans-serif;
  padding: 70px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

/* Make feedback text used for form validation visible. */
.invalid-feedback{
  display: block;
}
.valid-feedback{
  display: block;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #428bca;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #428bca;
    cursor: pointer;
}
