<div *ngIf="user" class="container">
  <h2 class="display-4">{{user.fullName}}</h2>
  <p class="lead">User ID: {{user.userid}}</p>
  <div *ngIf="user.preferenceid == undefined" class="alert alert-danger" role="alert">
    NOTE: You have not filled out your preferences. Please do so to take full advantage of this app!
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="align-middle">Email: <strong>{{user.email}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#emailModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
    <li class="list-group-item">
      <span class="align-middle">Gender: <strong>{{user.gender}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#genderModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
    <li class="list-group-item">
      <span class="align-middle">Relationship Status: <strong>{{user.relationshipStatus}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#relationshipModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
    <li class="list-group-item">
      <span class="align-middle">School: <strong>{{user.school}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#schoolModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
    <li *ngIf="user.school != 'No school selected...'" class="list-group-item">
      <span class="align-middle">Year in School: <strong>{{user.yearInSchool}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#yearModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
    <li *ngIf="user.school != 'No school selected...'" class="list-group-item">
      <span class="align-middle">Major: <strong>{{user.major}}</strong></span>
      <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#majorModal" (click)="onClickEdit()">Edit</button>
      </div>
    </li>
  </ul>
  <br>
  <h4 class="display-5">Preferences</h4>
  <div *ngIf="user.preferenceid == undefined">
    <p>You do not have a preferences profile. Click the button below to create one!</p>
    <button type="button" class="btn btn-primary" (click)="initPreferences()">Create Preferences Profile</button>
    <hr>
  </div>
  <div *ngIf="user.preferenceid != undefined">
    <p>Adjust the following settings to represent your personal preferences. These will be used to help show you more relevant searches.</p>
    <hr>
    <div class="row">
      <div class="col">
        <label>Partying:</label>
        <div class="float-right">
          <small>Hate it!</small>
        </div>
      </div>
      <div class="col-7">
        <div class="slidecontainer">
          <input type="range" name="party_input" min="0" max="10" class="slider" [(ngModel)]="preferences.party" #party_input="ngModel" (change)="onChangeTouchSlider()">
        </div>
      </div>
      <div class="col">
        <div class="float-left">
          <small>Love it!</small>
        </div>
        <div class="float-right">
          <strong>{{preferences.party}}</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Sleeping:</label>
        <div class="float-right">
          <small>Early bird!</small>
        </div>
      </div>
      <div class="col-7">
        <div class="slidecontainer">
          <input type="range" name="sleep_input" min="0" max="10" class="slider" [(ngModel)]="preferences.sleep" #sleep_input="ngModel" (change)="onChangeTouchSlider()">
        </div>
      </div>
      <div class="col">
        <div class="float-left">
          <small>Night owl!</small>
        </div>
        <div class="float-right">
          <strong>{{preferences.sleep}}</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Noise Level:</label>
        <div class="float-right">
          <small>Quiet!</small>
        </div>
      </div>
      <div class="col-7">
        <div class="slidecontainer">
          <input type="range" name="noise_input" min="0" max="10" class="slider" [(ngModel)]="preferences.noiseLevel" #noise_input="ngModel" (change)="onChangeTouchSlider()">
        </div>
      </div>
      <div class="col">
        <div class="float-left">
          <small>Loud!</small>
        </div>
        <div class="float-right">
          <strong>{{preferences.noiseLevel}}</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Max # of Roommates:</label>
      </div>
      <div class="col-7">
        <div class="slidecontainer">
          <input type="range" name="maxNum_input" min="1" max="8" class="slider" [(ngModel)]="preferences.maxNumofRoommates" #maxNum_input="ngModel" (change)="onChangeTouchSlider()">
        </div>
      </div>
      <div class="col">
        <div class="float-right">
          <strong>{{preferences.maxNumofRoommates}}</strong>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <span class="align-middle">
          <label>Pet Preference:</label>
        </span>
      </div>
      <div class="col-7">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="preferences.petPreference" name="petPreference" [value]="1" (click)="onChangeTouchSlider()">
          <label class="form-check-label">Pets are okay with me!</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="preferences.petPreference" name="petPreference" [value]="0" (click)="onChangeTouchSlider()">
          <label class="form-check-label">No pets, please!</label>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <span class="align-middle">
          <label>Utilities Preference:</label>
        </span>
      </div>
      <div class="col-7">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="preferences.utilitiesIncluded" name="utilitiesIncluded" [value]="1" (click)="onChangeTouchSlider()">
          <label class="form-check-label">Utilities included</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="preferences.utilitiesIncluded" name="utilitiesIncluded" [value]="0" (click)="onChangeTouchSlider()">
          <label class="form-check-label">Don't care</label>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <span class="align-middle">
          <label>First Choice Neighborhood:</label>
        </span>
      </div>
      <div class="col-8">
        <div class="form-group">
          <select class="form-control" [(ngModel)]="preferences.firstChoiceNeighborhood" name="neighborhood_input" (change)="onChangeTouchSlider()">
            <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.neighborhoodName">
              {{neighborhood.neighborhoodName}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <span class="align-middle">
          <label>Min Budget:</label>
        </span>
      </div>
      <div class="col-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" name="minBudget_input" pattern= "[0-9]{1,4}" [ngClass]="minBudget_input.invalid ? 'form-control is-invalid' : 'form-control'" aria-label="Amount (to the nearest dollar)" required [(ngModel)]="preferences.minBudget" #minBudget_input="ngModel" (change)="onChangeTouchSlider()">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
          <div *ngIf="minBudget_input.invalid" class="invalid-feedback">
            Please enter a valid number between 1-4 digits
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="align-middle">
          <label>Max Budget:</label>
        </span>
      </div>
      <div class="col-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" name="maxBudget_input" pattern= "[0-9]{1,4}" [ngClass]="maxBudget_input.invalid ? 'form-control is-invalid' : 'form-control'" aria-label="Amount (to the nearest dollar)" required [(ngModel)]="preferences.maxBudget" #maxBudget_input="ngModel" (change)="onChangeTouchSlider()">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
          <div *ngIf="maxBudget_input.invalid" class="invalid-feedback">
            Please enter a valid number between 1-4 digits
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="touchedSliders && !minBudget_input.invalid && !maxBudget_input.invalid">
      <hr>
      <button class="btn btn-warning btn-block" (click)="onClickUpdatePreferences()">Update Preferences</button>
    </div>
  </div>
  <hr>
  <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">Delete Profile</button>
  <br>

  <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailModalLabel">Update Email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Email</label>
            <div class="input-group">
              <input type="email" name="email_input" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [ngClass]="(email_input.invalid && (email_input.dirty || email_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="updatedUser.email" #email_input="ngModel">
              <div *ngIf="email_input.invalid && (email_input.dirty || email_input.touched)" class="invalid-feedback">
                <div *ngIf="email_input.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email_input.errors.pattern">
                  Please enter a valid email.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="email_input.invalid || (!email_input.dirty)" (click)="onClickUpdateEmail()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="genderModal" tabindex="-1" role="dialog" aria-labelledby="genderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="genderModalLabel">Update Gender</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Gender</label>
            <select class="form-control" [(ngModel)]="updatedUser.gender" name="gender_input">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickUpdateGender()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="relationshipModal" tabindex="-1" role="dialog" aria-labelledby="relationshipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="relationshipModalLabel">Update Relationship Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Relationship Status</label>
            <select class="form-control" [(ngModel)]="updatedUser.relationshipStatus" name="relationship_input">
              <option>Single</option>
              <option>In a relationship</option>
              <option>Engaged</option>
              <option>Married</option>
              <option>Widowed</option>
              <option>Separated</option>
              <option>Divorced</option>
              <option>In a civil union</option>
              <option>In a domestic partnership</option>
              <option>Prefer not to say</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickUpdateRelationshipStatus()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="schoolModalLabel">Update School</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">School</label>
            <select class="form-control" [(ngModel)]="updatedUser.school" name="school_input">
              <option *ngFor="let school of schools" [value]="school.schoolName">
                {{school.schoolName}}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickUpdateSchool()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="yearModal" tabindex="-1" role="dialog" aria-labelledby="yearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="yearModalLabel">Update Year in School</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Year in School</label>
            <select class="form-control" [(ngModel)]="updatedUser.yearInSchool" name="year_input">
              <option>First</option>
              <option>Second</option>
              <option>Third</option>
              <option>Fourth</option>
              <option>Fifth</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickUpdateYearInSchool()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="majorModal" tabindex="-1" role="dialog" aria-labelledby="majorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="majorModalLabel">Update Major</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Major</label>
            <input type="text" name="major_input" class="form-control" [(ngModel)]="updatedUser.major" #major_input="ngModel">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickUpdateMajor()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your profile? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
