<div class="container">
  <h2 class="page-header">Register</h2>
  <form #registerForm="ngForm" (submit)="onRegisterSubmit()">
    <div class="form-row">
      <div class="col-md mb-3">
        <label>First name</label>
        <input type="text" name="firstName_input" [ngClass]="(firstName_input.invalid && (firstName_input.dirty || firstName_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="firstName" #firstName_input="ngModel">
        <div *ngIf="firstName_input.invalid && (firstName_input.dirty || firstName_input.touched)" class="invalid-feedback">
          <div *ngIf="firstName_input.errors.required">
            First name is required.
          </div>
        </div>
      </div>
      <div class="col-md mb-3">
        <label>Last name</label>
        <input type="text" name="lastName_input" [ngClass]="(lastName_input.invalid && (lastName_input.dirty || lastName_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="lastName" #lastName_input="ngModel">
        <div *ngIf="lastName_input.invalid && (lastName_input.dirty || lastName_input.touched)" class="invalid-feedback">
          <div *ngIf="lastName_input.errors.required">
            Last name is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md mb-3">
        <label>Email</label>
        <input type="email" name="email_input" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [ngClass]="(email_input.invalid && (email_input.dirty || email_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="user.email" #email_input="ngModel" placeholder="name@example.com">
        <div *ngIf="email_input.invalid && (email_input.dirty || email_input.touched)" class="invalid-feedback">
          <div *ngIf="email_input.errors.required">
            Email is required.
          </div>
          <div *ngIf="email_input.errors.pattern">
            Please enter a valid email.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md mb-3">
        <label>Password</label>
        <input type="password" name="password_input" [ngClass]="(password_input.invalid && (password_input.dirty || password_input.touched)) ? 'form-control is-invalid' : 'form-control'" required [(ngModel)]="user.password" #password_input="ngModel">
        <div *ngIf="password_input.invalid && (password_input.dirty || password_input.touched)" class="invalid-feedback">
          <div *ngIf="password_input.errors.required">
            Password is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md mb-3">
        <label>Gender</label>
        <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender" value="Male" checked>
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender" value="Female">
          <label class="form-check-label">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender" value="Other">
          <label class="form-check-label">Other</label>
        </div>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md mb-3">
        <label>Relationship Status</label>
        <br>
        <select class="form-control" [(ngModel)]="user.relationshipStatus" name="relationshipStatus">
          <option>Single</option>
          <option>In a relationship</option>
          <option>Engaged</option>
          <option>Married</option>
          <option>Widowed</option>
          <option>Separated</option>
          <option>Divorced</option>
          <option>In a civil union</option>
          <option>In a domestic partnership</option>
          <option>Prefer not to say</option>
        </select>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md mb-3">
        <label>School</label>
        <br>
        <select class="form-control" [(ngModel)]="user.school" name="school">
          <option *ngFor="let school of schools" [value]="school.schoolName">
            {{school.schoolName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md mb-3">
        <label>Year in School</label>
        <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.yearInSchool" name="yearInSchool" value="First" checked>
          <label class="form-check-label">First</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.yearInSchool" name="yearInSchool" value="Second">
          <label class="form-check-label">Second</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.yearInSchool" name="yearInSchool" value="Third">
          <label class="form-check-label">Third</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.yearInSchool" name="yearInSchool" value="Fourth">
          <label class="form-check-label">Fourth</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="user.yearInSchool" name="yearInSchool" value="Fifth">
          <label class="form-check-label">Fifth</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md mb-3">
        <label>Major</label>
        <input type="text" name="major_input" class="form-control" [(ngModel)]="user.major" #major_input="ngModel">
      </div>
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="registerForm.resetForm(user = {gender: 'Male', relationshipStatus: 'Single', school: 'No school selected...'})">Reset</button>
    </div>
  </form>
</div>
