<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
    <flash-messages></flash-messages>
  </div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
