<div class="container-fluid">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/images/roommates3.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/images/roommates1.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/images/roommates4.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/images/roommates2.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/images/roommates5.jpg">
      </div>
    </div>
  </div>
  <div class="jumbotron text-center">
    <h1>Roommates Finder</h1>
    <p class="lead"> Welcome to a new way of finding potential roommates around Boston, built from scratch!</p>
    <div>
      <a class="btn btn-primary" *ngIf="!authService.loggedIn()" [routerLink]="['/register']">Register</a>
      <a class="btn btn-secondary" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login</a>
      <a class="btn btn-primary" *ngIf="authService.loggedIn()" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="btn btn-secondary" *ngIf="authService.loggedIn()" [routerLink]="['/profile']">Profile</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h3>Node.js Backend</h3>
      <hr>
      <img src="../../../assets/images/node.png" alt="Node_Logo">
      <br><br>
      <p>Robust and secure Node.js backend server running the Express.js web framework for easy routing and middleware integration.</p>
    </div>
    <div class="col-md-4">
      <h3>Angular 5 Frontend</h3>
      <hr>
      <img src="../../../assets/images/angular.png" alt="Angular_Logo">
      <br><br>
      <p>Powerful Angular frontend for serving up an intuitive, flexible UI to make and manage requests to the backend server.</p>
    </div>
    <div class="col-md-4">
      <h3>MySQL Database</h3>
      <hr>
      <img src="../../../assets/images/mysql.png" alt="MySQL_Logo">
      <br><br>
      <p>Data schema implemented in MySQL and powered by the Node.js connector for interacting with the database.</p>
    </div>
  </div>
</div>
